void CNpc::GetNpcInfo(Packet & pkt)
{ pkt 
<<GetProtoID()
<<uint16(isMonster() ? 1 : 2) 
<<m_sPid<<m_iWeapon_1 <<m_iWeapon_2 <<m_sSize
<<uint32(isMonster()?0:GetNation())
<<m_iSellingGroup<<GetType()<<GetLevel()
<<GetSPosX()<<GetSPosZ()<<GetSPosY()
<<uint16(m_byDirection)
<<m_byObjectType
<<uint32(isGateOpen()) 
<<uint16(0)
<<uint16(0) // unknown
;
}
